<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>MobileCenterDemoApp</string>
	<key>CFBundleIdentifier</key>
	<string>com.Akvelon.MobileCenterDemoApp</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>	
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen.storyboard</string>
	<key>CFBundleShortVersionString</key>
	<string>1</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>LaunchScreen</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>123</string>
	<key>NSHealthShareUsageDescription</key>
	<string>12343</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.MobileCenterDemoApp.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.MobileCenterDemoApp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.MobileCenterDemoApp2.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb120712398481198</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
